[Unit]
Description=Process finished Nikita price releases

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
RandomizedDelaySec=30
Persistent=true
Unit=avito-ready-price.service

[Install]
WantedBy=timers.target
